<div class="container  overflow-hidden">

    <div class="row g-3">
        <div>
            <form [formGroup]="searchForm" class="row g-3" style="align-items: center;">
                <div class="col-auto">
                    <select class="form-select" (change)="changeSearchCriteria($event)" formControlName="criteriaValue">
                        <option value="" Selected>Choose your Criteria</option>
                        <option *ngFor="let criteria of searchCriteriaData" [ngValue]="criteria">{{criteria}}</option>
                      </select>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" formControlName="searchValue" maxlength="50" placeholder="Value for search" aria-label="Value for Search">
                </div>
                <div class="col-auto" style="margin-bottom: 6px">
                    <button class="btn btn-primary" style="height: 40px;" (click)="searchCompany()">Search</button>
                </div>
                <div class="col-auto" style="margin-bottom: 6px">
                    <button class="btn btn-danger" style="height: 40px;" (click)="clearInput()">Clear</button>
                </div>
              </form>
        </div>
        
    </div>
    <div class="row align-items-center gx-5">

        <div class="col-lg-9">
            <div class="card">
                <div *ngIf="!isLoading && companies.length<1" class="d-flex align-items-center justify-content-center"
                    style="height: 450px">
                    There is no tourist company listed yet!
                </div>

                <div *ngIf="isLoading" class="d-flex align-items-center justify-content-center" style="height: 450px">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <div *ngIf="!isLoading && companies.length>0">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Company Names
                                </th>
                                <th>
                                    Website
                                </th>
                                <th>
                                    Contact
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    View details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companies">
                                <td>{{company.branchName}}</td>
                                <td>{{company.website}}</td>
                                <td>
                                    {{company.contact }}
                                </td>
                                <td>
                                    {{company.email }}
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        (click)="openTouristPakages(company)" data-bs-target=".multi-collapse" aria-expanded="false"
                                        aria-controls="multiCollapseExample1 multiCollapseExample2">Packages</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-center text-primary">
            <div *ngIf="isPackagesLoading" class="d-flex align-items-center justify-content-center" style="height: 250px">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="card">
                
                <table class="table table-hover" *ngIf="!isLoading && !isPackagesLoading && selectedCompany.tariffs.length>0">
                    <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Tourist Place
                                </th>
                                <th>
                                    Cost
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tariff of selectedCompany.tariffs;let i = index; let l = last">
                                <td>{{i+1}}</td>
                                <td>{{tariff.place.placeName}}</td>
                                <td>
                                    {{tariff.cost.toString() | currency:'INR':'symbol':'3.1-1'}}
                                </td>
                            </tr>
                        </tbody>
                </table>
        </div>
        </div>
    
    </div>

</div>